In [22]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [23]:
df = pd.read_csv('DATA/статистика_старт.xlsx - Данные.csv')
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,NaN,2002,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
1,Доходы гостиниц и аналогичных средств размещения,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ханты-Мансийский автономный округ - Югра (Тюме...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2228536,39","2040628,19","2465505,6","2720895,1","2954950,8","2515767,7",2442687,"2264695,5","2089543,19","2282701,6"
3,Ямало-Ненецкий автономный округ (Тюменская обл...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"724074,4","826791,3",942051,"905200,6","871948,1","908662,89","1005690,2","1001489,7","1116225,6","1388261,4"
4,Тюменская область (кроме Ханты-Мансийского авт...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,,"1398139,4","1646036,2","1642570,1","1689217,5","1940716,3","1861785,79","2432762,4","2537705,9"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,32401000000 Кемерово,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"87,79","86,87","87,41","89,75","89,39","89,07","87,68","86,09","85,62","87,91"
155,32449000000 Юрга,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"82,5","84,74","85,85","87,46","84,76","83,55","82,82","82,55","84,4","86,41"
156,50401000000 Новосибирск,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"103,09","102,43","102,27","103,11","102,01","102,33",102,"101,27","99,31","98,49"
157,52401000000 Омск,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"84,52","83,09","83,14","84,12","85,15","85,31","85,26","84,67","85,19","87,66"
158,69401000000 Томск,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"97,77","97,85","97,69","98,08","97,27","97,02","97,17","96,47","96,8","98,13"

In [24]:
df = df.drop_duplicates()

In [25]:
df.drop((df.isnull().all(axis=1).index[0]))

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
1,Доходы гостиниц и аналогичных средств размещения,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ханты-Мансийский автономный округ - Югра (Тюме...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2228536,39","2040628,19","2465505,6","2720895,1","2954950,8","2515767,7",2442687,"2264695,5","2089543,19","2282701,6"
3,Ямало-Ненецкий автономный округ (Тюменская обл...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"724074,4","826791,3",942051,"905200,6","871948,1","908662,89","1005690,2","1001489,7","1116225,6","1388261,4"
4,Тюменская область (кроме Ханты-Мансийского авт...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,,"1398139,4","1646036,2","1642570,1","1689217,5","1940716,3","1861785,79","2432762,4","2537705,9"
5,Республика Алтай,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"123369,4",265508,"269770,3","269770,3","425207,4","720724,6","1015143,3","624930,69","682875,7","851700,69"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,32401000000 Кемерово,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"87,79","86,87","87,41","89,75","89,39","89,07","87,68","86,09","85,62","87,91"
155,32449000000 Юрга,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"82,5","84,74","85,85","87,46","84,76","83,55","82,82","82,55","84,4","86,41"
156,50401000000 Новосибирск,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"103,09","102,43","102,27","103,11","102,01","102,33",102,"101,27","99,31","98,49"
157,52401000000 Омск,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"84,52","83,09","83,14","84,12","85,15","85,31","85,26","84,67","85,19","87,66"
158,69401000000 Томск,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"97,77","97,85","97,69","98,08","97,27","97,02","97,17","96,47","96,8","98,13"

In [34]:
specifity = ['Доходы гостиниц и аналогичных средств размещения',
             'Число гостиниц и средств размещения',
             'Численность размещенных лиц в гостиницах и ананлогичных средствах размещения',
             'Число ночевок в гостиницах и ананлогичных средствах размещения',
             'Средняя численность работников, включая внешних совместителей',
             'Число туристских фирм',
             'Средства, поступившие от реализации туристкого продукта',
             'Число реализованных турпакетов населению',
             'Индекс стоимости жизни']

In [26]:
df_t = df.T

In [37]:
df_i = df.set_index('Unnamed: 0')

In [57]:
x = list()
for p, i, n in range(len(df_i)):
    if p == i:
        x.append(n)
x

[]