# Импорт

In [9]:
import glob
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import matplotlib.gridspec as gridspec

# Загрузка Датасета

In [10]:
df_ter = pd.concat([pd.read_csv(i).drop('year', axis=1)
                    .drop('Unnamed: 0', axis=1)
                    .apply(lambda s: s.map(lambda a: float(a.replace(',', '.')) 
                                           if type(a) is str 
                                           else a)) 
                    for i in glob.glob("..\\..\\DATA\\Ters\\*")])
df_ter

,Доходы гостиниц и аналогичных средств размещения,Число гостиниц и средств размещения,Численность размещенных лиц в гостиницах и ананлогичных средствах размещения,Число ночевок в гостиницах и ананлогичных средствах размещения,"Средняя численность работников, включая внешних совместителей",Число туристских фирм,"Средства, поступившие от реализации туристкого продукта",Число реализованных турпакетов населению,Индекс стоимости жизни
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
12,908662.89,81.0,157285.0,302406.00,110.0,26.0,269673.90,4316.0,NaN
13,1005690.20,87.0,139229.0,252037.99,NaN,20.0,74901.80,3529.0,NaN
14,1001489.70,93.0,156157.0,297168.99,NaN,22.0,114533.50,3986.0,NaN
15,1116225.60,100.0,163501.0,328119.00,NaN,15.0,108719.49,5157.0,NaN
16,1388261.40,103.0,208076.0,394690.00,NaN,29.0,440893.40,4515.0,NaN

In [11]:
df_ter.drop('Индекс стоимости жизни', axis=1).dropna()

,Доходы гостиниц и аналогичных средств размещения,Число гостиниц и средств размещения,Численность размещенных лиц в гостиницах и ананлогичных средствах размещения,Число ночевок в гостиницах и ананлогичных средствах размещения,"Средняя численность работников, включая внешних совместителей",Число туристских фирм,"Средства, поступившие от реализации туристкого продукта",Число реализованных турпакетов населению
8,847640.30,167.0,304891.00,552745.99,455.0,121.0,832542.4,28654.99
9,927587.90,202.0,340857.00,670156.00,532.0,144.0,1237937.4,38598.99
10,888997.70,200.0,346834.99,631507.99,511.0,147.0,1943526.8,42021.99
11,927467.70,188.0,303433.00,630826.99,465.0,161.0,1573858.8,35385.99
12,906521.70,233.0,347622.99,715713.99,525.0,167.0,1604312.9,28460.99
...,...,...,...,...,...,...,...,...
8,826791.30,59.0,106999.00,418013.00,92.0,8.0,11165.1,1216.00
9,942051.00,72.0,162944.00,490666.99,60.0,18.0,45649.2,5615.00
10,905200.60,63.0,144552.99,450729.00,62.0,25.0,69404.7,6857.00
11,871948.10,64.0,114508.99,415274.00,64.0,27.0,67535.1,5664.00
12,908662.89,81.0,157285.00,302406.00,110.0,26.0,269673.9,4316.00

In [12]:
df_ter.drop('Индекс стоимости жизни', axis=1).to_csv(
    '../../DATA/Concatination_of_ters/Without_Индекс стоимости жизни/with_nan.csv')
df_ter.drop('Индекс стоимости жизни', axis=1).dropna().to_csv(
    '../../DATA/Concatination_of_ters/Without_Индекс стоимости жизни/without_nan.csv')